@model CustomerOrder
@{
    ViewData["Title"] = "NewOder";
}



<div class="container-fluid">

    <form asp-action="NewOrder" method="post">

        @Html.HiddenFor(x => x.ServiceId)
        <div class="row">
            <div class="col-md-4 offset-md-4">

                <div class="card mb-3">
                    <h3 class="card-header text-center">@Model.Service.ServiceName</h3>
                    @if (Model.Service.ServiceImage != null)
                    {
                        <img style="height: 200px; width: 100%; display: block;" src="data:image;base64, @Convert.ToBase64String(Model.Service.ServiceImage)" alt="Card image">
                    }
                    else
                    {
                        <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">

                    }
                    <div class="card-body">
                        <p class="card-text">@Model.Service.Description</p>
                    </div>
                    <div class="card-footer text-muted">
                        <span>Cost: $@Model.Service.Cost</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
                <div class=" col-3">

                    <div class="form-group">
                        <label asp-for="Customer.FirstName" class="control-label"></label>
                        <input asp-for="Customer.FirstName" class="form-control" />
                        <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-3">
                    <div class="form-group">
                        <label asp-for="Customer.LastName" class="control-label"></label>
                        <input asp-for="Customer.LastName" class="form-control" />
                        <span asp-validation-for="Customer.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-3">
                    <div class="form-group">
                        <label asp-for="Customer.Email" class="control-label"></label>
                        <input asp-for="Customer.Email" class="form-control" />
                        <span asp-validation-for="Customer.Email" class="text-danger"></span>
                    </div>
                </div>
                <disv class=" col-3">
                    <div class="form-group">
                        <label asp-for="Customer.Phone" class="control-label"></label>
                        <input asp-for="Customer.Phone" class="form-control" />
                        <span asp-validation-for="Customer.Phone" class="text-danger"></span>
                    </div>

                </disv>

                <div class=" col-3">

                    <div class="form-group">
                        <label asp-for="Customer.Make" class="control-label"></label>
                        <input asp-for="Customer.Make" class="form-control" />
                        <span asp-validation-for="Customer.Make" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-3">
                    <div class="form-group">
                        <label asp-for="Customer.Model" class="control-label"></label>
                        <input asp-for="Customer.Model" class="form-control" />
                        <span asp-validation-for="Customer.Model" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-3">
                    <div class="form-group">
                        <label asp-for="Customer.Year" class="control-label"></label>
                        <input asp-for="Customer.Year" class="form-control" />
                        <span asp-validation-for="Customer.Year" class="text-danger"></span>
                    </div>
                </div>









                <div class="col-4 offset-4">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-success" /> |
                        <a asp-action="Index" asp-controller="Home">Back to List</a>

                    </div>
                </div>


            </div>

</form>


</div>




